.title-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first baseline;
  height: 100vh;
  text-align: center;
  padding: 2rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: clamp(5rem, 40%, 8rem);
}

/* ------------------------------ */
.attempt {
  display: flex;
  justify-content: space-between;
}

.history {
  display: flex;
  align-items: flex-start;
}
.attempt-colours {
  display: flex;
}
