.square-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.colour-attempt {
  margin-left: 0;
  margin-right: 0.5rem;
}
.attempt {
  display: flex;
  justify-content: space-between;
}
